---
interface Props {
  back: string
}
import Iback from '../assets/icon/Iback.astro'

const { back } = Astro.props
---

<aside>
  <a class='redirigir' href={back} data-astro-reload>
    <Iback />
    <span>Atras</span>
  </a>
  <slot />
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 107px;
    left: 350px;
    transition: opacity 1s ease;
    font-size: 14px;
    gap: 10px;
    a {
      color: var(--dark-gray);
    }
  }

  aside a:first-child {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
    svg {
      height: 14px;
      width: 14px;
    }
  }

  aside a:hover {
    color: black;
  }

  @media (max-width: 1600px) {
    aside {
      position: static;
      a:not(:first-child) {
        display: none;
      }
    }
    aside a:first-child {
      margin-bottom: 0px;
    }
  }
</style>
